.cache
instruction_pdf/
demo_july22/
demo_july27/
MvcMovie/bin/Debug/netcoreapp3.1/cs/
MvcMovie/bin/Debug/netcoreapp3.1/de/
MvcMovie/bin/Debug/netcoreapp3.1/es/
MvcMovie/bin/Debug/netcoreapp3.1/fr/
MvcMovie/bin/Debug/netcoreapp3.1/it/
MvcMovie/bin/Debug/netcoreapp3.1/ja/
MvcMovie/bin/Debug/netcoreapp3.1/ko/
MvcMovie/bin/Debug/netcoreapp3.1/pl/
MvcMovie/bin/Debug/netcoreapp3.1/pt-BR/
MvcMovie/bin/Debug/netcoreapp3.1/ru/
MvcMovie/bin/Debug/netcoreapp3.1/tr/
MvcMovie/bin/Debug/netcoreapp3.1/zh-Hans/
MvcMovie/bin/Debug/netcoreapp3.1/zh-Hant/



